.stat_background{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.search_bar_bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 99%;
}
  
  
  .label {
    border-radius: 15px;
    background: rgba(243, 243, 243, 0.75);
    padding: 10px;
  
  }
  
  .dropdown{
    border-radius: 15px;
    background: rgba(243, 243, 243, 0.75);
    padding: 10px;
    border: none;
    min-width: 100px;
    max-width: 165px;
  }
  
  .textInput{
    border-radius: 15px;
    background: rgba(243, 243, 243, 0.75);
    padding: 10px;
    border: none;
    width: 100px;
  }
  
  .search_name{
    border-radius: 15px;
    background: rgba(243, 243, 243, 0.75);
    padding: 10px;
    border: none;
    flex-grow: 1;
    margin: 0 50px;
  }
  
  .search_bar{
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: #000 solid 1px;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1600px;
  }
  
  .search_bar_top{
    display: flex;
    flex-direction: row;
    width: 99%;
    justify-content: space-around;
    align-items: center;
  }
  
.stat_row:hover{
    background-color: antiquewhite;
}

.stat_header{
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
}

.stat_header_item{
    width: 150px;
    text-align: center;
}

.stat_header_name{
    width: 200px;
    text-align: center;
}

.stat_body{
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    padding: 0 10px;
    height: calc(100vh - 200px - 26px); /* 200px is sum of serach bar and nav bar height and 26 is stat header height*/
}

.stat_row{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.row_name{
    width: 200px;
    text-align: center; 
}

.row_column{
    width: 150px;
    text-align: center;
}